.transactions-table {
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin: 10% auto;
  font-size: 24px;
  border-radius: 10px;
  background-color: #bfbee3;
  padding: 10px 20px;
}

.transactions-table thead th {
  padding: 15px 70px;
  text-align: left;
  border-bottom: 2px solid #ddd;
  font-weight: bold;
}

.transactions-table tbody td {
  padding: 20px 75px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.pagination {
  margin-top: -9%;
  display: flex;
  justify-content: center;
  margin-bottom: 21px;
}

.pagination-item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  cursor: pointer;
}

.pagination-item.active {
  background-color: #bfbee3;
  color: white;
}

.transactions {
  text-align: center;
  margin: 20px 0;
}
