.bar-chart-container {
    padding: 20px; /* Add padding around the chart */
    background-color: #E94F4F; /* Light background for contrast */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}
.bar-chart-container h3 {
    text-align: center; /* Center the title */
    margin-bottom: 20px; /* Space below the title */
}
.recharts-responsive-container {
    margin: 0 auto; /* Center the chart */
}

.bar{
    margin-top: 10%;
}