.sections {
  font-size: 19px;
  padding-top: 170px;
  background-color: #bfbee3;
  padding-bottom: 210px;
  padding-left: 90px;
  margin-right: 80%;
  border-radius: 20px;
  margin-top: -41%;
  white-space: nowrap;
}

.home {
  display: flex;
  font-size: 20px;
  align-items: center;
  gap: 20px;
  color: white;
}

.transaction {
  display: flex;
  font-size: 20px;
  align-items: center;
  gap: 20px;
}

.list {
  display: flex;
  gap: 100px;
  white-space: nowrap;
  font-size: 15px;
  text-align: center;
}
.statistics {
  display: flex;
  font-size: 20px;
  align-items: center;
  gap: 20px;
}
.care {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 20px;
}

.setting {
  display: flex;
  font-size: 20px;
  align-items: center;
  gap: 20px;
}

.log {
  display: flex;
  font-size: 20px;
  align-items: center;
  gap: 20px;
}
